#projects_container
{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}
#projects_container #project_search_container
{
    width: 80%;
}

#projects_container #project_search_container #project_search_input
{
    width: 45%;
}
#projects_container #project_search_container #project_search_button
{
    width: 15%;
}

#projects_container #projects_buttons_container
{
    display: flex;
    justify-content: end;
    margin: 10px 0px;
}
#projects_container #projects_buttons_container .projects_buttons_container_item
{
    margin: 0px 10px;
}
#projects_container #projects_box
{
    width: 80%;
}
#projects_container #projects_box .project_dates
{
    display: flex;
    justify-content: space-between;
}
#projects_container #projects_box .project_box
{
    background-color: white;
    padding: 25px;
    border: 1px solid black;
    margin: 10px 0px;
}
#projects_container #projects_box .project_box img
{
    width: 100%;
}

@media screen and (max-width: 768px) {
    #geral_container 
    {
        width: 100%;
    }

    #projects_container #projects_buttons_container
    {
        display: flex;
        justify-content: end;
        padding: 15px 0px;
    }

    #projects_container #projects_box
    {
        margin: 20px 0px;
        width: 90%;
    }

    #projects_container #projects_box #projects_buttons_container
    {
        display: flex;
        flex-direction: column;
        padding: 0px;
        text-align: center;
    }

    #projects_container #projects_buttons_container .projects_buttons_container_item
    {
        margin: 0px;
    }

    #projects_container #project_search_container
    {
        width: 90%;
    }
    #projects_container #project_search_container
    {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    #projects_container #project_search_container .project_search_input_item
    {
        width: 100%;
    }

    #projects_container #project_search_container #project_search_input
    {
        width: 99.3%;
        margin: 0px;
        padding: 0px;
    }

    #projects_container #project_search_container #project_search_button
    {
        width: 100%;
    }
}