#user_container
{
    background: #eef0f2;
    width: 400px;
}
#user_container #user_photo_box
{
    width: 100%;
}
#user_container #user_photo_box #user_photo_img
{
    width: 80%;
    height: 80%;
}
#user_container #user_description_box
{

}
